
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions to improve readability and reuse of logic.
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    function isAdmin() {
      return isSignedIn() && request.auth.token.admin == true;
    }
    function isStaff() {
      return isSignedIn() && (request.auth.token.staff == true || isAdmin());
    }

    function isExistingDoc() {
      return resource != null;
    }

    match /users/{userId} {
      // An admin can get any user doc. A user can get their own.
      allow get: if isAdmin() || isOwner(userId);
      // An admin can list users.
      allow list: if isAdmin();
      // A user can create their own profile.
      allow create: if isOwner(userId) && request.resource.data.id == userId;
      // An admin can update any user, owners can update their own.
      allow update: if isAdmin() || isOwner(userId);
      // Only a user can delete their own account.
      allow delete: if isOwner(userId);
    }

    match /tournaments/{tournamentId} {
      allow get: if true;
      allow list: if true;
      // Only staff or admins can manage tournaments.
      allow create, update, delete: if isStaff();
    }

    match /tournaments/{tournamentId}/registrations/{registrationId} {
      function isCreatingTeamMember() {
        return isSignedIn() && request.auth.uid in request.resource.data.playerIds;
      }
      function isExistingTeamMember() {
        return isSignedIn() && isExistingDoc() && request.auth.uid in resource.data.playerIds;
      }

      allow get: if isExistingTeamMember() || isStaff();
      allow list: if isStaff();
      allow create: if isCreatingTeamMember() && request.resource.data.tournamentId == tournamentId;
      allow update: if isExistingTeamMember() && request.resource.data.tournamentId == resource.data.tournamentId;
      allow delete: if isExistingTeamMember() || isStaff();
    }

    match /announcements/{announcementId} {
      allow get: if true;
      allow list: if true;
      allow create, update, delete: if isStaff();
    }

    match /highlights/{highlightId} {
      allow get: if true;
      allow list: if true;
      allow create, update, delete: if isStaff();
    }
    
    match /coinRequests/{coinRequestId} {
      // A user can create a request for themselves.
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      // An admin can get any request. A user can get their own.
      allow get: if isAdmin() || (isSignedIn() && isOwner(resource.data.userId));
      // An admin can list all requests. A user can only list their own.
      allow list: if isAdmin();
      // Only admins can approve/deny (update) or delete requests.
      allow update, delete: if isAdmin();
    }
  }
}
